*{
  margin: 0;
  padding: 0;
}
body{
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  background-color: palevioletred;
  color: antiquewhite;
  min-height: 100vh;
  height: 100%;
  padding: 15px;
  width: auto;
  display: flex;
  justify-content: center;
}

