.loading{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;

}
.favorite_wrapper{
    flex-direction: column;
    display: flex;
}
.favourites{
    display: flex;
    gap: 25px;
    overflow: auto;
    margin-bottom: 30px;
}
.items{
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
}